# Espressif IoT Development Framework (ESP-IDF) 5.4.4 Project Minimal Configuration
#
CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y

# Aumento vital da Pilha (Stack) para a matemática 3D do Doom
CONFIG_ESP_MAIN_TASK_STACK_SIZE=65536

# PSRAM 100% Otimizada
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=4096
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=147456
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y

# Drivers Essenciais (Cartão SD e FreeRTOS)
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FREERTOS_HZ=1000

# LVGL Mínimo (Apenas para desenhar os botões transparentes do D-PAD)
CONFIG_LV_USE_CLIB_MALLOC=y
CONFIG_LV_FONT_MONTSERRAT_20=y